@model List<AllOrdersViewModel>

@{
    ViewBag.Title = "All Orders";
}

<h2>All Orders</h2>
<hr />

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Table</th>
                <th>Amount</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.TableNumber</td>
                    <td>@order.TotalAmount</td>
                    @*<td>
                        <a href="@Url.Action("OrderDetails", "Order", new { orderId = order.Id })">Details</a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No orders found.</p>
}
