@model OrderFormModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<h1>@ViewData["Title"]</h1>

<div class="order-details">
    <h3>Ordered Dishes:</h3>
    <ul>
        @foreach (var dish in Model.OrderedDishes)
        {
            <li>@dish.Name - @dish.Price</li>
            <ul>
                @foreach (var comment in Model.Comments)
                {
                    <li>@comment</li>
                }
            </ul>
        }
    </ul>
</div>