<img src="~/error400.jpg" alt="Error 400" />
@{
    ViewData["Title"] = "Bad Request (400)";
}

<h1>Bad Request (400)</h1>
<p>The server cannot process the request due to something that is perceived to be a client error.</p>